<%- include header %>
<div style="width:1024px;margin:1em auto;">
    <div style="border:1px solid green;width:720px;float:left">
        <ul class="horul">
            <li>最新</li>
            <li>最热</li>
            <li>未回答</li>
        </ul>
        <table class="table">
            <tbody class="answer">
            <%
            if(rs!=undefined){
                rs.forEach(function(row) {
            %>
            <tr>
                <td>
                    <div><%=row['renum']%><br/>回答</div>
                </td>
                <td><%=row['looknum']%><br/>浏览</td>
                <td><a href="/question/detail?qid=<%=row['qid']%>" target="_blank"><%=row['title']%></a></td>
            </tr>
            <%   })
             }
             if(count>0){
            %>
            <tr>
                <td colspan="3" align="center">
                    总共<%=count%>条记录,
                    第<%=page%>/<%=countPage%>页,
                    <% if (page!=1) {%>
                    <a href="/?page=1">首页</a>&nbsp;
                    <a href="/?page=<%=(page-1)%>">上一页</a>&nbsp;
                    <% } %>
                    <% if (page!=countPage) {%>
                    <a href="/?page=<%=(page+1)%>">下一页</a>&nbsp;
                    <a href="/?page=<%=countPage%>">尾页</a>
                    <%}%>
                </td>
            </tr>
            <%
                }
            %>
            </tbody>
        </table>
    </div>
    <div style="border:1px solid green;width:300px;float:right">
        <table class="table">
            <caption>排行榜</caption>
            <tbody>
            <tr>
                <td>1</td>
                <td>Bangalore</td>
            </tr>
            <tr>
                <td>2</td>
                <td>Mumbai</td>
            </tr>
            <tr>
                <td>3</td>
                <td>Bangalore</td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
<div class="modal fade" id="loginModal" style="width: 1080px;">
    <div class="modal-dialog">
        <div class="modal-content" style="width: 860px;">
            <!--------href内容----------------->

            <!--------------------------------->
        </div>
    </div>
</div>
</body>
</html>