<%- include header %>
<div style="width:1024px;margin:1em auto;">
    <div style="border:1px solid green;width:720px;float:left">
        <table class="table">
            <tbody>
            <% for(var i=0; i<result.length;i++){%>
            <tr>
                <th><%= i+1 %></th>
                <td><%= result[i].username %></td>
                <td><%= result[i].password %></td>
                <td><%= result[i].lastName + result[i].firstName %></td>
                <td><%= result[i].company %></td>
                <td><%= result[i].telephone %></td>
                <td><%= result[i].email %></td>
                <td><%= result[i].authority %></td>
            </tr>
            <%}%>
            </tbody>
        </table>
    </div>
</div>
<div class="modal fade" id="loginModal" style="width: 1080px;">
    <div class="modal-dialog">
        <div class="modal-content" style="width: 860px;">
            <!--------href内容----------------->

            <!--------------------------------->
        </div>
    </div>
</div>
</body>
</html>